<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contxt="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--        这里是引入JDBC数据库连接的配置信息       -->
        <contxt:property-placeholder location="classpath:conf.properties"/>

    <!--   这里留着 记得来写系统管理和缓冲区配置    -->
    <bean id="SystemManage" class="com.wangqi.core.SystemManage">
        <property name="cacheProvider" ref="ehcacheCacheProvider"/>
    </bean>

    <bean id="simpleCacheProvier" class="com.wangqi.cache.SimpleCacheProvider"/>

    <bean id="ehcacheCacheProvider" class="com.wangqi.cache.EhcacheCacheProvider">
        <property name="configLocation" value="classpath:ehcache.xml"></property>
        <property name="cacheName" value="eternalCache"/>
    </bean>




</beans>